name: Nightly Unstable Build and Package

on:
  schedule:
    - cron: '0 1 * * *'  # Run at 1:00 AM UTC every day
  workflow_dispatch:  # Allow manual triggering

jobs:
  call-unstable-build:
    if: github.repository == 'redis/redis-snap'
    uses: redis/redis-snap/.github/workflows/unstable.yml@unstable
    secrets: inherit
