name: Pull Request Build and Test

on:
  pull_request:
    branches:
      - master
      - unstable

jobs:
  build-and-test:
    name: Build and Test
    uses: ./.github/workflows/build-n-test.yml
    with:
      release_tag: