# This workflow is part of the Redis OSS release automation process.
name: Release Build and Test

on:
  workflow_dispatch:
    inputs:
      release_tag:
        description: 'Release tag to build'
        required: true
      workflow_uuid:
        description: 'Optional UUID to identify this workflow run'
        required: false
      release_type:
        description: 'Type of release to upload (public, internal)'
        required: true
      risk_level:
        description: 'Type of stability (stable, rc)'
        required: true

# UUID is used to help automation to identify workflow run in the list of workflow runs.
run-name: "Release Build and Test${{ github.event.inputs.workflow_uuid && format(': {0}', github.event.inputs.workflow_uuid) || '' }}"

jobs:
  prepare-release:
    runs-on: ["ubuntu-latest"]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.release_tag == 'unstable' && 'unstable' || '' }}

      # Note this is for validation only. The git checkout redis/redis is used in the build process.
      - name: Validate Redis Release Archive
        if: github.event.inputs.release_tag != 'unstable'
        uses: redis-developer/redis-oss-release-automation/.github/actions/validate-redis-release-archive@main
        with:
          release_tag: ${{ github.event.inputs.release_tag }}

      - name: Ensure Release Branch
        id: ensure-branch
        if: github.event.inputs.release_tag != 'unstable'
        uses: redis-developer/redis-oss-release-automation/.github/actions/ensure-release-branch@main
        with:
          release_tag: ${{ github.event.inputs.release_tag }}
          release_branch: ${{ github.ref_name }}
          allow_modify: true
          gh_token: ${{ secrets.GITHUB_TOKEN }}
          release_version_branch_prefix: automation/

      - name: Update Redis Versions
        if: github.event.inputs.release_tag != 'unstable'
        uses: ./.github/actions/update-redis-versions
        with:
          risk_level: ${{ github.event.inputs.risk_level }}
          release_tag: ${{ github.event.inputs.release_tag }}
          release_version_branch: ${{ steps.ensure-branch.outputs.release_version_branch }}

  build-n-test:
    needs: prepare-release
    uses: ./.github/workflows/build-n-test.yml
    with:
      release_tag: ${{ github.event.inputs.release_tag }}
    secrets: inherit

  create-release-handle:
    needs: build-n-test
    runs-on: ubuntu-latest
    steps:
      - name: Create Release Handle
        shell: bash
        run: |
          cat <<RELEASE_HANDLE >result.json
          {
            "release_tag": "${{ github.event.inputs.release_tag }}",
            "risk_level": "${{ github.event.inputs.risk_level }}",
            "run_id": ${{ github.run_id }},
            "workflow_uuid": "${{ github.event.inputs.workflow_uuid }}",
            "release_type": "${{ github.event.inputs.release_type }}"
          }
          RELEASE_HANDLE

      - name: Upload release handle artifact
        uses: actions/upload-artifact@v4
        with:
          name: release_handle
          path: result.json
          retention-days: 90

  # Notify only about build failures
  # as publish workflow will notify about publish success or failure
  slack-failure-notification:
    needs: build-n-test
    runs-on: ubuntu-latest
    if: failure()
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Detect env name
        id: detect-env
        run: |
          if [ "${{ inputs.release_type }}" = "public" ]; then
            env_name="production"
          elif [ "${{ inputs.release_type }}" = "internal" ]; then
            env_name="staging"
          fi
          echo "env_name=$env_name" >> $GITHUB_OUTPUT

      - name: Send Failure Slack notification
        uses: ./.github/actions/slack-notification
        with:
          slack_func: slack_format_failure_message
          slack_channel_id: ${{ vars.SLACK_CHANNEL_ID }}
          release_tag: ${{ github.event.inputs.release_tag }}
          env: ${{ steps.detect-env.outputs.env_name }}
          message: ":ubuntu: SNAP package build failed"
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}