# This wokrflow is for building and publishing nightly unstable builds of Redis with edge risk level.
name: Unstable

on:
  workflow_dispatch:
  workflow_call:
  pull_request:
    branches:
      - unstable

jobs:
  build:
    uses: ./.github/workflows/build-n-test.yml
    with:
      release_tag: unstable

  publish:
    needs: build
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: >-
            ${{ (github.ref_name == 'unstable'
            || github.event_name == 'workflow_call'
            || github.event_name == 'schedule')
            && 'unstable'
            || ''
            }}

      - name: Upload all architectures to Snap Store
        uses: ./.github/actions/upload
        with:
          risk_level: 'edge'
          snapcraft_store_credentials: ${{ secrets.SNAP_TOKEN }}
