name: Unstable

on:
  workflow_dispatch:
  workflow_call:
  pull_request:
    branches:
      - unstable

jobs:
  build:
    uses: redis/redis-snap/.github/workflows/build-n-test.yml@unstable
    with:
      release_tag: unstable

  publish:
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Upload all architectures to Snap Store
        uses: ./.github/actions/upload
        with:
          risk_level: 'edge'
          snapcraft_store_credentials: ${{ secrets.SNAP_TOKEN }}
